<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dinas Kesehatan Kabupaten Bolaang Mongondow - Dinkes Bolmong - Dinas Kesehatan Bolmong</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Montserrat:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/modal-video/css/modal-video.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img alt="Responsive image" src="assets/img/logo.svg" decoding="async" width="198" height="45"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Beranda</a></li>
          <li class="menu-has-children"><a href="">Profil</a>
            <ul>
              <li><a href="visi-misi.html">Visi dan Misi</a></li>
              <li><a href="tupoksi.html">Tugas Pokok dan Fungsi</a></li>
              <li><a href="struktur-organisasi.html">Struktur Organisasi</a></li>
              <li><a href="kontak.html">Kontak</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Layanan</a>
            <ul>
              <li><a href="puskesmas.html">Puskesmas</a></li>
              <li><a href="laboratorium-kesehatan.html">Laboratorium Kesehatan</a></li>
              <li><a href="jaminan-kesehatan.html">Jaminan Kesehatan</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Informasi</a>
            <ul>
              <li><a href="agenda.html">Agenda</a></li>
              <li><a href="berita.html">Berita</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Dokumentasi</a>
            <ul>
              <li><a href="foto.html">Foto</a></li>
              <li><a href="vidio.html">Vidio</a></li>
            </ul>
          </li>
          <li><a href="download.html">Unduhan</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Vidio</h2>
          <ol>
            <li><a href="index.html">Beranda</a></li>
            <li>Vidio</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-4">
      <div class="container">
        <p>
            Vidio
        </p>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row justify-logo-center">

        <div class="col-lg-12">
          <div class="footer-logo text-center">
            <a href="index.html">
              <img alt="Responsive image" src="assets/img/dinkes.svg" decoding="async"></a>
            </a>
            <p>Ini adalah website resmi Dinas Kesehatan Kabupaten Bolaang Mongondow. <br>Anda dapat menemukan informasi lebih lanjut tentang Dinas Kesehatan Kabupaten Bolaang Mongondow di website ini. <br>Kami akan selalu memperbarui website kami, termasuk informasi dan kami terus berusaha mengembangkan website kami agar menjadi lebih baik</p>
          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>Hak Cipta &copy; 2021 Dinas Kesehatan Kabupaten Bolaang Mongondow</p>
        <div class="credits">
          Dikembangkan oleh <a href="https://diskominfo.bolmongkab.go.id">e-Gov Diskominfo Bolmong</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/modal-video/js/modal-video.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/superfish/superfish.min.js"></script>
  <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>